.btn{
    height: 60px;
    font-size: 20px;
    text-transform: uppercase;
    color: $dark;
    margin: 10px auto !important;
    font-weight: 600;
    align-self: center;
    &.btn-warning{
        background-color: $yellow;
        color: $dark;
        &:hover{
            background-color: $yellow-hover;
        }
    }
    &.btn-black{
      background-color: $dark;
      color: $white;
      align-self: center;
    }
    &.btn-danger{
        background-color: $red;
        color: $white;
        &.btn-outline{
            background-color: transparent;
            color: $white;
            border-color: $white;
            &:hover{
                background-color: $white;
                color: $red;
            }
        }
    }

    &.btn-extra-small{
      font-size: 12px;
      padding: 5px 10px;
      height: 28px;
      border-radius: 0px;
      margin: 0 2px !important;
      min-width: 80px !important;
    }
    &.btn-small{
        width: 80%;
        font-size: 16px;
        height: 48px;
        // margin: 10px auto;
    }
}
